#POSTGRES INFO
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_URL=

#JWT INFO
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

#REDIS INFO
REDIS_HOST=
REDIS_PORT=

#RATE LIMIT INFO (x request per y seconds)
RATE_LIMIT=
RATE_LIMIT_WINDOW=